<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/control-panel']">Panel danych</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/visualization']">Wizualizacje</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" app-dropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Projekty<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onStore()" style="cursor: pointer;">Wyślij dane</a></li>
            <li><a (click)="onFetch()" style="cursor: pointer;">Pobierz dane</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
