<hr>
<div class="row">
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-4">
        <h4><span class="label label-default">Dane podstawowe</span></h4>
      </div>

      <div class="col-xs-8 text-right">
        <button class="btn btn-primary" (click)="onEdit()">Edytuj</button>
        <button class="btn btn-danger" (click)="onDelete()">Usuń</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 text-right">
        <h4><strong>Nazwa:</strong></h4>
      </div>
      <div class="col-xs-6">
        <h4><span>{{selectedHouse?.name}}</span></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 text-right">
        <h4><strong>Właściciel:</strong></h4>
      </div>
      <div class="col-xs-6">
        <h4><span>{{selectedHouse?.owner}}</span></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <img src="{{selectedHouse?.imagePath}}" alt="Podgląd" class="img-rounded" style="width: 290px;">
      </div>
    </div>
  </div>

  <div class="col-xs-7">
    <ul class="nav nav-tabs">
      <li role="presentation" [ngClass]="{active: elemType == types.TempSensor}">
        <a style="cursor: pointer;" (click)="elemType = types.TempSensor;">Czujniki temperatur</a>
      </li>
      <li role="presentation" [ngClass]="{active: elemType == types.Light}">
        <a style="cursor: pointer;" (click)="elemType = types.Light;">Światła</a>
      </li>
    </ul>

    <div [ngSwitch]="elemType">
      <app-temp-sensor-list *ngSwitchCase="types.TempSensor"></app-temp-sensor-list>
      <app-light-list *ngSwitchCase="types.Light"></app-light-list>
    </div>
  </div>
</div>
