<div class="row">
  <div class="col-xs-6">
    <h4><span class="label label-default">Źródła światła</span></h4>
  </div>

  <div class="col-xs-6 text-right">
    <button class="btn btn-primary" (click)="onAddLight()">Dodaj</button>
    <button class="btn btn-success" (click)="onSendLights()">Wyślij</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <div *ngIf="lights.length === 0">
        <h3>Brak zarejestrowanych czujników!</h3>
      </div>
      <app-light-item *ngFor="let item of lights; let i = index" [light]="item" [index]="i"></app-light-item>
    </ul>
  </div>
</div>
