<div class="row">
  <div class="col-xs-6">
    <h4><span class="label label-default">Czujniki temperatur</span></h4>
  </div>

  <div class="col-xs-6 text-right">
    <button class="btn btn-primary" (click)="onAddSensor()">Dodaj</button>
    <button class="btn btn-success" (click)="onSendSensors()">Wyślij</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <div *ngIf="tempSensors.length === 0">
        <h3>Brak zarejestrowanych czujników!</h3>
      </div>
      <app-temp-sensor-item *ngFor="let item of tempSensors; let i = index" [tempSensor]="item"
                            [index]="i"></app-temp-sensor-item>
    </ul>
  </div>
</div>
